* {
    margin: 0;
    padding: 0;
    font-family: apple-system, BlinkMacSystemFont, 
    Segoe UI, Roboto, Helvetica Neue, Arial, 
    Noto Sans, sans-serif, Apple Color Emoji, 
    Segoe UI Emoji, Segoe;
    /* background-color: rgb(10, 10, 29); */
}
body {
    margin: 0;
    padding: 0;
    /* background-color:  #ffe4e4; */
    box-sizing: border-box;
}
header {
    /* margin-bottom: 20px; */
    padding: 0;
    text-align: center;
    background-color: rgb(10, 10, 29);
    height: 100px;
    position: sticky;
    top: 0;
    bottom: o;
    right: 0;
    left: 0;
    z-index: 100;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
i.fa-bars {
    color: #ff4500;
    display: none;
}
.logo img {
    width: 180px;
    height: 30px;
    margin: 0;
    /* padding-left: 15px; */
}
header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    /* position: relative;
    bottom: 30px; */
}
header nav ul li {
    color: #ff4500;
    margin:0 25px;
    justify-content: space-around;
    gap: 30px;
    /* position: relative;
    top: 50px; */
}
header nav ul li :hover {
    color: #fff;
    transition: color 0.4s ease 1.3ms;
}
header nav ul li a {
    color: #ff4500;
    text-decoration: none;  
}
header nav ul li a:active {
    color: #00f;
    /* transform: scale(1.1); */
}
header nav ul li a :hover{
    /* color: #fff; */
    transition: color 0.7s ease;
}
header nav ul li::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #0ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
} 
.about_us {
    color: #fff;
}
#section-1 {
    background-color: rgb(10, 10, 29);
    color: #fff;
    padding-left: 120px;
    /* margin-top: 90px; */
}
.container {
    display: flex;
    /* margin: 20px; */
    /* gap: 20px; */
}
.nate {
    margin: 20px;
}
.nate h3 {
    color: rgb(255, 132, 17);
    font-size: 2.3rem;
    font-weight: 500;
}
.nate p {
    font-size: 1.3rem;
    margin-bottom: 50px;
}
.image-1 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.image-2 {
    margin-top: 120px;
    /* position: relative; */
    margin-right: 70px;
}
.image-3 {
    margin: 130px 20px 20px 20px;
}
/* .images :nth-child(2) {
    position: relative;
    left: 200px;
} */

#section-2 { display: none}    
/* COME BACK FOR THOSE RING STUFF */

#section-3 {
    /* background-color:  #000; */
    background: linear-gradient(360deg,
    #000,
    #333,
    #333,
    #888,
    #474747
    );
}
.trust {
    display:flex;
    padding-left: 110px;
}
.leadership {
    background-color: #fff;
    width: 500px;
    height: 300px;
    margin: 20px;
    font-size: 1.3rem;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0 8px 10px rgba(5, 10, 2, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.leadership h5 {
    color: rgb(255, 132, 17);
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.section-4 {
    background: #000;
}
#section-4 .p {
    font-size: 1.7rem;
    font-weight: 350;
    padding-left:90px;
}
#section-4 h5 {
    font-size: 2.9rem;
    font-weight: 400;
    padding-left:90px;
    color: rgb(255, 132, 17);
    margin-bottom: 140px;
}
.marketing {
    display: flex;
    padding-left: 80px;
}
 .brand {
    /* background-color: #f0f0f0; */
    background-color: #FFFFFF;
    margin: 10px;
    width: 370px;
    height: 600px;
    box-shadow: 0 8px 10px rgba(5, 10, 2, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.brand h3 {
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 40px;
    padding-right:40px;
    color: rgb(102, 71, 71);
}
.brand p {
    font-size: 1.2rem;
    font-weight: 200;
    padding-top: 20px;
    padding-left: 40px;
    padding-right:40px;
    color: rgb(65, 62, 62);
}
.brand a {
    position: relative;
    top: 20px;
    padding-left: 40px;
    color: rgb(255, 132, 17);
    text-decoration: none;
}

.brand img {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 150px;
    /* margin: 20px 150px; */
}
#section-6 {
    background-color: #fff;
    margin-top: 20px;
}
#section-6 h2 {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 800;
    color: rgb(255, 132, 17);
}
#section-6 .P {
    text-align: center;
    font-size: 1.26rem;
    font-weight: 350;
    margin: 0 0 50px 0;
}
.faQ {
    background: #000;
    display: flex;
    padding: 30px;
    color: #fff;
}
.questions {
    /* background-color: #ff4500; */
    margin: 20px 60px;
    width: 500px;
}
.questions h3 {
    color: rgb(255, 132, 17);
    font-size: 1rem;
    font-weight: 900;
}
.questions p {
    margin-top: 20px;
    font-size: 1.20rem;
    font-weight: 300;
}
.questions a {
    color: #fff;
    text-decoration: none;
}
.questions a:hover {
    color: rgb(197, 34, 197);
    transition: all 0.2s;
}
#section-7 {
    position: relative;
    bottom: 20px;
}
#grow {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgb(231, 148, 70),
     rgba(214, 139, 0, 0.801), #da9546,
     #8b4a00,#8b4a00, rgba(22, 15, 15, 0.705));
}
.grow {
    /* background-color: #ff4500; */
    width: 450px;
    color: #fff;
    position: relative;
    top: 150px;
    margin-left: 70px;
}
.grow h2 {
    font-size: 2.4rem;
    font-weight: 400;
}
.grow p {
    margin-top: 20px;
    font-size: 1.2rem;
}
.grow button {
    margin: 50px 70px 0 0;
    background-color: rgb(12, 5, 78);
    color: #fff;
    width: 160px;
    height: 6vh;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
}
.grow button:hover {
    cursor: pointer;
    color:  rgb(12, 5, 78);
    /* visibility: collapse; */
}
.imG {
    position: relative;
    left: 800px;
    bottom: 70px;
    /* background-color: #ff4500; */
     /* border-top-left-radius: 100px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px; */
}
imG:hover {
    /* cursor: pointer; */
    /* border-top-left-radius: 180px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px; */
    /* transform: scale(1.1); */
    /* transition: all 2s ease; */
}
#img {
    border-radius: 40px;
    filter: blur(7px);
    transition: all 1s ease;
}
#img:hover {
    filter:blur(0);
    transform: scale(1.1);
}
.consultation {
    position: relative;
    bottom: 90px;
    background-color: rgba(196, 127, 0, 0.801);
    text-align: center;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.consultation h2 {
    margin-top: 90px;
    padding-top: 90px;
    font-size: 3.7rem;
    font-weight: 300;
    color: rgb(36, 36, 71);
}
.consultation b {
    font-weight: 400;
}
.consultation p {
    font-size: 1.29rem;
    color: rgb(36, 36, 71);
}
.consultation button {
    background-color: rgb(30, 30, 61);
    color: #fff;
    font-size: 1.01rem;
    margin: 20px 0;
    width: 250px;
    height: 7vh;
    border: none;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: all 1s ease;
}
.consultation button:hover {
    cursor: pointer;
    background-color: rgb(16, 16, 44);
    transform: translateY(-20%);
}
#community {
    /* background:linear-gradient(90deg,#f77e00, rgb(126, 118, 118), #da9546,  #f77e00); */
    /* background: radial-gradient( ellipse,#ff0, #da9546, #f77e00); */
    margin-top: 20px;
    /* padding-right: 70px; */
    background: radial-gradient(circle, rgba(126, 118, 118),#f77e00, #da9546, grey);
}
#community img {
    width: 370px;
    padding-top: 80px;
    padding-left: 50px;
}
#community h2 {
    padding-top: 35px;
    font-size: 35px;
    font-weight: 700;
    padding-left: 50px;
    color:#ffffff
}
#community p {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 50px;
    color:#ffffff;
    font-weight: 600;
}
#input {
    width: 300px;
    height: 70px;
    position: relative;
    font-size: 17px;
    padding-left: 15px;
    margin-top: 20px;
    bottom: 170px;
    margin-left: 780px;
    border: none;
    /* text-align: left; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#subscribe {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    width: 200px;
    height: 73px;
    position: relative;
    bottom: 170px;
    right: 6px;
    /* left: 5px; */
    margin-top: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#subscribe:hover {
    cursor: pointer;
}
footer {
    background-color: #f7f7f7;
    padding: 40px 20px;
    text-align: center;
}

.footer-section{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.footer {
    text-align: left;
    margin-bottom: 20px;
}

.footer h4 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer li {
    margin-bottom: 8px;
    font-weight: 200;
}

.footer a {
    text-decoration: none;
    color: #333;
}

.footer a:hover {
    text-decoration: underline;
}

.icons {
    background-repeat: no-repeat;
}

#icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    right: 18px;
    list-style-type: none;
    gap: 10px;
    width: 100%;
    background-repeat: no-repeat;
}
.icon {
    height: 45px;
}

#icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    /* background-color: #ddd; */
    border-radius: 50%;
    margin: 0 1px;
    color: #333;
    text-decoration: none;
    transition: 0.9s ease;
}

#icons a:hover {
    /* background-color: #ccc; */
    cursor: pointer;
    transform: scale(1.3);
}

.copyright {
    margin-top: 30px;
    font-size: 0.9em;
}

.sections {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.sections.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 414px) {
    /* body {
        margin: 0;
        padding: 0;
        min-width: 500px;
        max-width: 100px;  
    } */
    header {
        margin: 0;
        padding: 0;
        min-width: 410px;
        max-width: 398px;
        border: #8b4a00 2px solid;
    }
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    header nav ul {
        display: none;
    }
    i.fa-bars {
        color: #ff4500;
        font-size: 2.3rem;
        display: flex; 
    }
    .logo img {
        width: 180px;
        height: 30px;
        margin: 0;
    }
    #section-1 {
        /* width: 282px;
        /* margin-bottom: 20px; */
        min-width: 218px;
        max-width: 418px;
    }
    .container {
        display: block;
       
    }
    .image-1 {
        z-index: 1;
        /* border: #ff4500 2px solid; */
        min-width: 350px;
        /* max-width: 370px; */
        position: relative;
        right: 95px;
        margin: 0;
        padding-top: 40px;
    }
    .image-1 img {
        width: 100%;
    }
    .image-2 {
        z-index: 1;
        /* border: #ff4500 2px solid; */
        min-width: 350px;
        /* max-width: 370px; */
        position: relative;
        right: 95px;
        margin: 0;
    }
    .image-2 img {
        width: 100%;
    }
    .image-3 {
        z-index: 1;
        /* border: #ff4500 2px solid; */
        min-width: 350px;
        /* max-width: 370px; */
        position: relative;
        right: 95px;
        margin: 0;
        padding-top: 100px;
    }
    .image-3 img {
        width: 100%;
    }
    .nate:nth-child(1) {
        /* border: 2px solid #ff4500; */
        position: relative;
        /* right: 100px; */
    }
    .nate:nth-child(2) {
        /* border: 2px solid #ff4500; */
        position: relative;
        /* right: 100px; */
    }
    .nate:nth-child(3) {
        /* border: 2px solid #ff4500; */
        position: relative;
        /* right: 100px; */
    }
    .nate h3 {
        color: rgb(255, 132, 17);
        /* font-size: 1.5rem; */
        position: relative;
        right: 50px;
    }
    .nate h3 span {
        position: relative;
        /* left: 20px; */
        color: rgb(255, 132, 17);
    }
    .nate p {
        padding-top: 20px;
        position: relative;
        right: 50px;
        color: #0ff;
        font-size: 1rem;
        text-overflow: ellipsis;
    }

    #section-2 {
        display: none;
    }
    #section-3 {
        min-width: 398px;
        max-width: 398px;
    }
    .trust {
       display: block; 
       padding-left: 30px;
    }
    .leadership {
        width: 300px;
        height: 400px;
    }
    .leadership h5 {
        padding-right: 40px;
        text-align: center;
    }
    .leadership p {
        /* font-size: 1rem; */
    }

    #section-4  {
        background-color: #f4f8eb;
        margin-top: 50px;
        min-width: 418px;
        max-width: 398px;
    }
    .marketing {
        display: block;
        padding: 0;
    }
    .brand {
       width: 320px; 
       height: 490px;
       margin-bottom: 0;
       margin-top: 40px;
       margin-left: 45px;
       text-overflow: ellipsis;
    }
    .brand p {
         font-size: 1rem;
    }
    .brand img {
        position: relative;
        right: 20px;
    }

    #section-6 {
        /* margin-right: 90px; */
    }
    .faQ {
        display: block;
        /* padding-left: 20px; */
        /* border: 1px #ff4500 solid; */
    }
    .questions {
        width: 300px;
        /* border: 1px #00f solid; */
        /* padding: 0; */
        margin: 30px 0;
    }

    #grow {
        display: block;
        height: 700px;
    }
    .grow {
        /* border: 1px solid rgb(120, 17, 255); */
        width: 330px;
        margin-left: 45px;
    }
    .grow h2 {
        font-size: 1.7rem;
    }
    .grow span {
        position: relative;
        left: 50px;
    }
    .grow p {
        position: relative;
        left: 50px;
        font-size: 1.4rem;
    }
    .grow button {
        position: relative;
        left: 25%;
        bottom: 20px;
    }
    .imG {
        position: relative;
        right: 800px;
        filter: blur(0);
    }
    #img {
        position: relative;
        top: 250px;
        right: 780px;
    }
    .consultation {
        position: relative;
        /* top: 90px; */
    }
    .consultation h2 {
        font-size: 2.7rem;
        /* margin-bottom: 100px; */
    }
    .consultation p {
        padding: 0 10px;
    }
    .consultation a {
        /* position: relative;
        bottom: 100px */
        /* margin-bottom: 100px; */
    }
    #community img {
        padding-left: 130px;
        width: 150px;
    }
    #community h2 {
        font-weight: 800;
    }
    #community p {
        font-size: 1rem;
    }
    #input {
        position: relative;
        top: 20px;
        width: 350px;
        min-width: 50px;
        right: 780px;
        border-radius: 40px;
        /* left: 10px; */
        /* margin-left: 10px; */
    }
    #subscribe {
        position: relative;
        top: 10px;
        margin-left: 5px;
        /* left: 1px;right: 22px; */
        max-width: 765px;
        min-width: 365px;
        border-radius: 40px;
    }
    .community {
        margin-left: 25px;
        padding-bottom: 40px;
        /* border: 1px solid #ff4500; */
    }



    .sections {
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.9s ease, transform 0.9s ease;
    }
    .sections.show {
        opacity: 1;
        transform: translateY(0);
    }
}