* {
    margin: 0;
    padding: 0;
    font-family: 
    apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    user-select: none;

}

body {
    background: linear-gradient(90deg, rgb(39, 0, 180), rgb(57, 37, 129), rgb(24, 0, 110), rgb(70, 54, 126));
    /* background-color:  #EDEAE0; */
    scroll-behavior: smooth;
    /* background-color: #000; */
}

header {
    display: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(10, 10, 29);
    height: 90px;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

i.fa-bars {
    color: #ff4500;
    display: none;
}

.logo img {
    width: 180px;
    height: 30px;
    margin: 0;
    /* padding-left: 15px; */
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    /* position: relative;
    bottom: 30px; */
}

header nav ul li {
    color: #ff4500;
    margin: 0 25px;
    justify-content: space-around;
    /* gap: 30px; */
    /* position: relative;
    top: 50px; */
}

header nav ul li :hover {
    color: #fff;
    transition: color 0.4s ease 1.3ms;
}

header nav ul li a {
    color: #ff4500;
    text-decoration: none;
}

header nav ul li a:active {
    color: #00f;
}

header nav ul li a :hover {
    color: #fff;
    /* transition: color 0.7s ease; */
}

.active {
    color: #fff;
}

.ads {
    padding: 20px 0 30px 0;
    border: #ff4500 1px solid;
    color: #EDEAE0;
    background-color: rgb(17, 17, 48);
    border-radius: 0% 0% 0% 45% / 0% 35% 50% 0%;
}

.ads h1 {
    font-size: 3.9rem;
    font-weight: 350;
    padding-bottom: 20px;
}

.ads p {
    font-size: 1.4em;
}

#error {
    margin-top: 100px;
    color: #000;
}

.error {
    /* background-color: purple; */
    text-align: center;
}

.error h1 {
    font-size: 10rem;
    /* background: linear-gradient(90deg, #FF6B81, #FFB347); */
    color: #FF6B81;
}

.error h1 span {
    font-size: 15rem;
    color: #FF4D5A;
}

.error h4 {
    font-size: 3rem;
    /* color: 	#FFB347; */
    color: rgb(190, 19, 190);
}

.error h4 span {
    color: #FFD369;
}

.error p {
    font-size: 1.1rem;
    color: #E0E0E0;
}

#button {
    cursor: pointer;
    margin: 40px 0;
    height: 7vh;
    font-size: 1em;
    font-weight: 800;
    padding: 0 20px;
    border: none;
    border-radius: 50px;
    transition: all 0.7s ease;
    position: relative;
    bottom: -20px;
    overflow: hidden;
}

#button span {
    color: #000;
    /* display: block; */
}

#button::before {
    content: '';
    background: #f00;
    color: #fff;
    position: absolute;
    width: 100vh;
    height: 8vh;
    top: -1px;
    /* right: 0.11px; */
    transform: translateX(-50%) 
    scaleX(0);
    transform-origin: left;
    border: none;
    border-radius: 50px;
    transition: 3s;
}

#button:hover::before {
    transform: translateX(50%) 
    scaleX(1);
}
#button:hover span {
    /* color: #fff; */
}
/* #button::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 7vh;
    bottom: 88px;
    right: 557px;
    border-radius: 50px;
    background: #f00;
    transform: translateY(-50%) scale(0);
    transition: 0.5s;
    border: none;
}

#button:hover::before {
    transform: translateY(-50%) scale(2);
    transition: 0.5s;
}

#button:hover span {
    color: #fff;
    transition: 0.5s;
} */

/* #button::after {
    transform: translateX(15px); 
} */